<div class="container">
    <h4 class="text-center">Maestría en Ciencias de los Alimentos y Biotecnología</h4>
    <h4 class="text-center">Perfil de Egreso</h4>
    <br>
    <h5>El egresado será capaz de:</h5>
    <ul>
        <li>• Aplicar el método científico para el planteamiento y desarrollo de proyectos de investigación innovadores, con un sentido ético-propositivo, una actitud crítico científica y con capacidad de colaboración en grupos de trabajo interdisciplinario,
            acordes a las áreas de las Ciencias de los Alimentos y la Biotecnología.</li>
        <li>• Generar conocimientos a partir de la discusión crítica, analítica y ordenada de los resultados experimentales, a través del uso de las diferentes técnicas de análisis en el desarrollo de trabajos de investigación.</li>
        <li>• Diseñar, desarrollar, operar y optimizar procesos para la producción y recuperación de productos biotecnológicos y alimentarios.</li>
        <li>• Analizar las problemáticas actuales del sector agroalimentario e industrial, y proponer alternativas que permitan evaluar, concebir, innovar o transferir tecnología, y minimizar el impacto ambiental.</li>
        <li>• Incorporarse al sector educativo en actividades de docencia e investigación o al productivo en áreas relacionadas con el desarrollo, mejoramiento y optimización de procesos productivos.</li>
    </ul>
</div>