<div class="container">
    <h4 class="text-center">Maestría en Ciencias de los Alimentos y Biotecnología </h4>
    <h4 class="text-center">Perfil de Ingreso</h4>
    <br>
    <p>Para un correcto desarrollo en el programa de Maestría en Ciencias de los Alimentos y Biotecnología son requeridos conocimientos profesionales, habilidades conductuales y valores personales, mismos que serán fortalecidos para el alcance de su desarrollo
        integral. A continuación, se enlistan los requerimientos del perfil de ingreso.</p>
    <h5>Conocimientos</h5>
    <p>Los conocimientos básicos requeridos incluyen los temas de las siguientes asignaturas:
    </p>
    <ul>
        <li>
            <strong>• Química Orgánica: </strong>átomos y moléculas, isomería, uniones covalentes, iónicas y de coordinación, métodos de purificación, análisis cualitativo-orgánico, fórmula mínima y empírica, nomenclatura de hidrocarburos, reacciones
            orgánicas, rupturas homolíticas y heterolíticas de covalencias.</li>
        <li>
            <strong>• Biología: </strong>evolución, organización, composición química y metabolismo celular, estructura y función de membranas, organélos de doble membrana, división y ciclo celular.</li>
        <li>
            <strong>• Bioquímica básica: </strong>metabolismo del agua, pH y amortiguadores, química de carbohidratos, lípidos, proteínas y ácidos nucleicos.</li>
        <li>
            <strong>• Matemáticas: </strong>álgebra, ecuaciones lineales y cuadráticas, funciones reales, cálculo diferencial e integral.</li>
        <li>
            <strong>• Estadística y probabilidad: </strong>probabilidad, esperanza matemática, distribución de probabilidad, teorema de muestreo, regresión y correlación.</li>
    </ul>

    <h5>Habilidades</h5>
    <ul>
        <li>• Capacidad de comunicación oral y escrita en lengua nativa.</li>
        <li>• Comprensión de textos en inglés.</li>
        <li>• Capacidad para el razonamiento verbal y numérico.</li>
        <li>• Habilidades de pensamiento (atención, memoria, análisis, síntesis).</li>
        <li>• Obtener información de forma efectiva a partir de libros y revistas especializadas.
        </li>
        <li>• Mostrar interés en la Investigación.</li>
        <li>• Manejo de las tecnologías de la información.</li>
        <li>• Trabajo en equipo.</li>
        <li>• Flexibilidad y movilidad para adaptarse a entornos cambiantes y adversos.</li>
        <li>• Autocrítica.</li>
    </ul>
    <h5>Valores</h5>
    <ul>
        <li>• Ética profesional</li>
        <li>• Responsabilidad</li>
        <li>• Tolerancia</li>
        <li>• Respeto</li>
        <li>• Curiosidad</li>
        <li>• Racionalidad</li>
        <li>• Iniciativa</li>
        <li>• Neutralidad</li>
        <li>• Creatividad</li>
        <li>• Perseverancia</li>
    </ul>
    <h5>Licenciaturas que pueden optar a este posgrado:</h5>
    <p><strong>Ciencias de Ingeniería: </strong>Ing. Bioquímica, Ing. Química, Ing. Industrial-Química, Ing. Agroquímica, Ing. Innovación Agrícola Sustentable, Ing. en Industrias Alimentarias y afines.</p>
    <p><strong>Ciencias Químico-Biológicas: </strong>Química, Licenciatura en Ciencias Químicas, Química Agrícola, Química Bacteriológica y Parasitológia, Química Clínica, Química Farmacéutica, Química Farmacéutica Industrial, Química Biológica Bromatología,
        Química Industrial, Biologia y áreas afines.</p>

</div>