<div class="container">
    <h4 class="text-center">Maestría en Ciencias de los Alimentos y Biotecnología </h4>
    <br>
    <h5>Plan de estudios</h5>
    <div class="row">
        <p>El plan de estudios de la Maestría en Ciencias de los Alimentos y Biotecnología forma parte de la oferta académica a nivel posgrado del Tecnológico Nacional de México, el cual es un posgrado aceptado y autorizado por el Sistema Nacional de Educación
            Superior Tecnológica.</p>
        <ul>
            <li> • Biotecnología Enzimática y de Fermentaciones.</li>
            <li> • Ingeniería de Procesos Biotecnológicos y Alimentario.</li>
            <li> • Conservación y Aprovechamiento Integral de Alimentos.</li>
        </ul>
    </div>
    <table class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Créditos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Química</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Diseño Estadístico de Experimentos</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Técnicas analíticas</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Microbiología aplicada</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Seminario de Investigación I</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Seminario de Investigación II</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Seminario de Investigación III</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Optativa I</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa II</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa III</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa IV</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Tesis</td>
                <td>40</td>
            </tr>
        </tbody>
    </table>
</div>